<main class="col-9 col-t-8 col-m-12">
  <div class="container">
    <div class="caption col-12 col-t-12 col-m-12">
      <h4>Your cupcake cart</h4>
    </div>

    <div class="row"></div>

    <div class="cart">
      <div class="products">
        <div class="product" *ngFor="let p of products$ | async">
          <img [src]="p.imageLink" [alt]="p.name">
          <div class="product-info">
            <h3 class="product-name">{{p.name}}</h3>
            <h4 class="product-price">
              <strike style="color: tomato;"
                *ngIf="p.discount">{{p.price | currency:'INR'}}</strike>{{calculateDiscount(p.price,p.discount) | currency:'INR'}}
            </h4>
            <h5 class="product-offer" *ngIf="p.discount">{{p.discount}}% off</h5>
            <p class="product-quantity">Quantity: <input type="text" value="1"></p>
            <p class="product-remove">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span class="remove">Remove</span>
            </p>
          </div>
        </div>

      </div>

    </div>

    <div class="cart-total">
      <p>
        <span>Total Price</span>
        <span>Rs. 300</span>
      </p>
      <p>
        <span>Number of Items</span>
        <span>3</span>
      </p>
      <p>
        <span>You Save</span>
        <span>Rs. 100</span>
      </p>
      <a href="#">Proceed to checkout</a>
    </div>
  </div>
</main>
