<main class="col-9 col-t-8 col-m-12">
  <div class="container">
    <div class="caption col-12 col-t-12 col-m-12">
      <h4>Your cupcake cart</h4>
    </div>

    <div class="row"></div>

    <div class="cart">
      <div class="products">
        <div class="product" *ngFor="let p of cartItems">
          <img [src]="p.product.imageLink" [alt]="p.product.name">
          <div class="product-info">
            <h3 class="product-name">{{p.product.name}}</h3>
            <h4 class="product-price">
              <strike style="color: tomato;"
                *ngIf="p.product.discount">{{p.product.price | currency:'INR'}}</strike>{{calculateDiscount(p.product.price,p.product.discount) | currency:'INR'}}
            </h4>
            <h5 class="product-offer" *ngIf="p.product.discount">{{p.product.discount}}% off</h5>
            <p class="product-quantity">Quantity: <input type="text" [value]="p.quantity"></p>
            <p class="product-remove">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </p>
          </div>
        </div>

      </div>

    </div>

    <div class="cart-total">
      <p>
        <span>Total Items</span>
        <span>{{totalItems}}</span>
      </p>
      <p>
        <span>Total Price</span>
        <span>{{totalPrice|currency:'INR'}}</span>
      </p>
      <p>
        <span>Discount</span>
        <span>-{{totalPrice-discPrice|currency:"INR"}}</span>
      </p>
      <p>
        <span>Net Payable Amount</span>
        <span>{{discPrice|currency:'INR'}}</span>
      </p>
      <a (click)="checkout()">Proceed to checkout</a>
    </div>
  </div>
</main>
