<main class="col-9 col-t-8 col-m-12">
  <div class="caption col-12 col-t-12 col-m-12">
    <h4>Featured Products</h4>
  </div>

  <div class="row"></div>

  <div class="cupcakeDiv col-3 col-t-6 col-m-6" *ngFor="let product of products">
    <img class="new" src="/assets/icons/new.png" *ngIf="product.isNewProduct" />

    <div class='sale-perc' *ngIf="product.discount">{{product.discount}}% off</div>

    <img [src]="product.imageLink" [alt]="product.name" />

    <div class="cupcakeText">
      <h3>{{product.name}}</h3>
      {{product.description}}
    </div>

    <h4>
      <strike style="color: tomato;"
        *ngIf="product.discount">{{product.price | currency:'INR'}}</strike>{{calculateDiscount(product.price,product.discount) | currency:'INR'}}
    </h4>
    <a class="link" routerLink="/view/{{product.id}}">View</a>
    <button class="link" (click)="addToCart(product)">Add to cart</button>
  </div>

  <div class="row"></div>

  <div class="cupcakeOrderInfo col-12 col-t-12 col-m-12">
    <h3>Cupcakes Delivered Online with <em>The Cupcake Maker</em></h3>
    <p>Cupcakes make delightful treats for any special occasion. Online cupcake order is a boon for shoppers. At The
      Cupcake Maker we offer a variety of designer cupcakes that are sure to impress. The soccer cupcake is just right
      for the sports fan. It works well to celebrate the victory of a soccer player. It will add the requisite sweetness
      to his joy. This cake is available in 6 pieces for online delivery and can be made in four flavors namely
      Chocolate, Butterscotch, Pineapple and Vanilla. The rose cupcake is a delight. It adds an element of fun to any
      celebration be it a Birthday, Anniversary, Christmas or New Years. This is 8 pieces, available in four flavors
      namely Chocolate, Butterscotch, Pineapple and Vanilla. The special photo cupcake is a personalized cupcake which
      carries the stamp of individuality of the recipient. Just send in the photograph of the person you wish to
      celebrate and we will do the rest. It adds a personal touch to any celebration be it a Birthday, Anniversary, or
      Christening. Our home delivery service will deliver the goods to you in time and in a good condition. So go ahead
      and treat your loved ones. Cupcakes are perfect indulgence for any occasion and are quite hard to resist. The
      fresh and spongy texture makes it the best gift to be chosen for your loved ones. At The Cupcake Maker, we have
      baked all our cupcakes with utmost love, care and affection so that every bite that you take transports you to the
      heavenly feeling.</p>
  </div>

</main>
