.caption {
  background: #FFFFFF;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.caption h4 {
  color: #C71749;
  font-size: 150%;
  letter-spacing: 5px;
}

.cupcakeDiv {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  height: 380px;
  text-align: center;
  font-size: 85%;
  padding: 5px 10px 3px;
  transition: 200ms;
}

.cupcakeDiv:hover {
  border: 2px solid #E34C77;
  border-radius: 10px;
  transition: 400ms;
  transform: scale(1.05);
}

.cupcakeDiv .new {
  height: 40px;
  width: 40px;
  float: left;
  z-index: 2px;
  position: relative;
}

.cupcakeDiv img {
  height: 120px;
  transition: 600ms;
  position: relative;
}

.cupcakeDiv h4 strike {
  margin-left: 10px;
  margin-right: 10px;
}

.cupcakeText {
  width: 100%;
  height: 100px;
  text-align: justify;
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 12px;
  margin-bottom: 12px;
}

.cupcakeText h3 {
  text-align: center;
  text-transform: capitalize;
}

.cupcakeText p {
  text-align: start;
  text-align: justify;
}

.link {
  display: inline-block;
  width: 85%;
  padding: 2px 10px;
  margin: auto;
  margin-bottom: 2px;
  background: #FFF4F6;
  font-size: 114%;
  border: 1px solid #352729;
  border-radius: 15px;
  text-decoration: none;
  color: #000000;
  transition: 200ms;
}

.cupcakeDiv .link:hover {
  background: #E34C77;
  border: 2px solid #222222;

  color: #EBE8EA;
  transition: 200ms;
}

.cupcakeOrderInfo {
  background-color: #FFFFFF;
  margin-top: 40px;
  padding: 20px 30px;
}

.cupcakeOrderInfo h3 {
  color: #352729;
}

.cupcakeOrderInfo h3 em {
  color: #C51C4C;
  font-size: 110%;
}

.cupcakeOrderInfo p {
  margin-top: 20px;
  text-indent: 80px;
  line-height: 23px;
  text-align: justify;
}

/* For %Off */
.sale-perc {
  background-color: #D9534F;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  width: fit-content;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  float: right;
  position: relative;
  margin: 2px 0px;
  animation: blink 1s alternate-reverse infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .25;
  }


  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }


  100% {
    opacity: 1;
  }
}
