<body>
  <header>
    <div class="headerLogo">
      <img src="./assets/images/headerImage.jpg" alt="The Cupcake Maker Logo" />
      The Cupcake Maker
    </div>
    <a href="#">Contact</a>
    <a href="#">Cart(0)</a>
    <a href="login">Login</a>
  </header>

  <nav>
    <ul>
      <li><a href="home">HOME</a></li>
      <li><a href="#">NEW PRODUCTS</a></li>
      <li><a href="#">SPECIALS</a></li>
      <li><a href="myaccount">MY ACCOUNT</a></li>
      <li><a href="#">SITEMAP</a></li>
      <li><a href="#">CONTACTS</a></li>
      <li><a href="#">BLOG</a></li>
      <li class="searchBox1">
        <input type="text" placeholder="Search" id="searchBox1" />
      </li>
      <li class="icon">
        <a href="javascript:void(0);"><i class="material-icons w3-large">menu</i></a>
      </li>
    </ul>
  </nav>

  <div class="row mainRow">
    <aside class="aside col-3 col-t-4 col-m-12">
      <div class="aside1">
        <h3>CATEGORIES</h3>
        <ul>
          <li><a href="#">Gifts/Combos</a></li>
          <li><a href="#">Premium Cupcakes</a></li>
          <li><a href="#">Birthday Cupcakes</a></li>
          <li><a href="#">Custom Cupcakes</a></li>
          <li><a href="#">Cartoon Cupcakes</a></li>
          <li><a href="#">Superhero Cupcakes</a></li>
          <li><a href="#">Cheesecake Cupcakes</a></li>
          <li><a href="#">Holiday Cupcakes</a></li>
          <li><a href="#">Eggless Cupcakes</a></li>
          <li><a href="#">Midnight Delivery</a></li>
        </ul>
      </div>

      <div class="aside2">
        <h3>CONTACT US</h3>
        <p>
          Our support is available 24/7.<br />
          +91-9988776655 / +91-9988776654
        </p>
      </div>

      <div class="aside3">
        <h3>FIND CUPCAKES</h3>
        <input type="text" placeholder="Search" id="searchBox2" />
      </div>
    </aside>

    <router-outlet></router-outlet>
  </div>

  <div class="row"></div>

  <footer>&copy; The Cupcake Maker, All rights reserved.</footer>
</body>
