.mainBorder {
  padding: 0 20px;
}

.detailBox {
  position: relative;
  background-color: #FEFEFE;
  height: 100%;
  margin: 10px 10px;
  border: 1px solid #301B1F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  line-height: 35px;
  padding-bottom: 20px;
  box-shadow: 4px 5px 4px #CCCCCC;
}

.detailBox h4 {
  background: #E34C77;
  color: #FFFFFF;
  text-align: left;
  padding-left: 15px;
  font-size: 105%;
  font-weight: 500;
  border: 1px solid #301B1F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

.detailBox p {
  margin: 0 auto;
}

.detailBox label {
  text-align: left;
  width: 150px;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
  position: relative;
}

.detailBox input {
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  transition: 200ms;
  width: 50%;
}

.detailBox input:hover {
  outline: #E34C77;
  border: 1px solid #E34C77;
  transition: 200ms;
}

.detailBox a:link {
  text-decoration: none;
  color: #000000;
  float: left;
  font-size: 80%;
  margin-left: 5%;
}

.detailBox a:hover {
  color: #D94D66;
}

.detailBox button {
  width: 150px;
  position: absolute;
  bottom: -20px;
  right: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 25px;
  outline: none;
  transition: 400ms;
}

.detailBox button:hover {
  cursor: pointer;
  background-color: #E34C77;
  color: #FFFFFF;
  transition: 400ms;
  box-shadow: 2px 2px 2px 2px #888888;
}

.detailBox button:active {
  outline: none;
  border: 2px solid #D94D66;
}
